<rewrite>
  <rules>
    <!-- Force HTTPS -->
    <rule name="Redirect to HTTP" stopProcessing="true">
      <match url="(.*)" />
      <conditions>
        <add input="HTTP" pattern="^OFF$" />
      </conditions>
      <action type="Redirect" url="http://meteortestapp.azurewebsites.net/" redirectType="Permanent" />
    </rule>

    <!-- ... other rewrite rules -->
  </rules>
</rewrite>