<rewrite>
  <rules>
    <!-- Force HTTPS -->
    <rule name="Redirect to HTTPS" stopProcessing="true">
      <match url="(.*)" />
      <conditions>
        <add input="HTTPS" pattern="^OFF$" />
      </conditions>
      <action type="Redirect" url="http://simplemeteortest.azurewebsites.net/" redirectType="Permanent" />
    </rule>

    <!-- ....other rewrite rules -->
  </rules>
</rewrite>
